{% extends "base.html" %}

{% block body %}
<form method="GET">
<input name="q" type="text" value=""/>
<input type="submit" name="submit" value="search"/>
</form>

<div class="row-fluid">
    <div class="group_info span6">
        <h5>{{ group.key }} index completion ({{ stats.total }}): </h5>
        <div class="progress progress-striped">
          <div class="bar bar-success" style="width: {{ stats.indexed_pct }}%;">{{ stats.indexed }}</div>
          <div class="bar bar-warning" style="width: {{ stats.remaining_pct }}%;">{{ stats.remaining }}</div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h4>Displaying {{ pager.current_offset }} to {{ pager.next_offset or pager.total }} of {{ pager.total }} {{ doctype }}s</h4>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">

    </div>
    <div class="span7">
        {% include "includes/pager.html" %}
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="results table">
            <div class="table-row row-header">
                <div class="cell">
                    <div class="left">
                    Size
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='size asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='size desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="left">
                    Title
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='subject asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='subject desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="left">
                    Post Age
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='date asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='date desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-row centered">
                <div class="cell"> </div>
                <div class="cell">
                    {{ today|date }}
                </div>
                <div class="cell"> </div>
            </div>
            {% for res in results %}
            <div class="table-row">
                <div class="cell">
                    ({{ res.bytes_|humansize }})
                </div>
                <div class="cell">
                    <div>
                        {% if doctype == 'article' %}
                        <a href="{{ 'article_view'|url(res.key) }}">{{ res.subject }}</a>
                        {% elif doctype == 'file' %}
                        <a href="{{ 'file_view'|url(res.key) }}">{{ res.subject }}</a>
                        {% elif doctype == 'report' %}
                        NOT IMPLEMENTED
                        {% endif %}
                    </div>
                    <div>
                    {% for g in res.newsgroups %}
                        <a href="{{ 'article_search'|url(doctype, g) }}">{{ g }}</a>
                    {% endfor %}
                    </div>
                    <div>
                    {% if doctype == 'article' %}

                    {% elif doctype == 'file' %}
                        {% if not res.complete %}
                        <span class="label label-important">This File is Incomplete</span>
                        {% endif %}
                    {% elif doctype == 'report' %}
                    NOT IMPLEMENTED
                    {% endif %}
                    </div>
                </div>
                <div class="cell">
                    {{ res.date|age('days')}}&nbsp;days
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">

    </div>
    <div class="span7">
        {% include "includes/pager.html" %}
    </div>
</div>
{% endblock %}
