{% extends "base.html" %}

{% block body %}
<form method="GET">
<input name="q" type="text" value=""/>
<input type="submit" name="submit" value="search"/>
</form>

<div class="row-fluid">
    <div class="group_info span6">
        <h5>{{ group.key }} index completion: </h5>
        <div class="progress progress-striped">
          <div class="bar bar-info" style="width: {{ '%d'|format((group.first / group.last) * 100) }}%;"></div>
          <div class="bar bar-success" style="width: {{ '%d'|format(((group.last_stored - group.first) / group.last) * 100) }}%;"></div>
          <div class="bar bar-warning" style="width: {{ '%d'|format(((group.last - group.last_stored) / group.last) * 100) }}%;"></div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h4>Displaying {{ pager.current_offset }} to {{ pager.next_offset }} of {{ pager.total }} articles</h4>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">

    </div>
    <div class="span7">
        {% include "includes/pager.html" %}
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="results table">
            <div class="table-row row-header">
                <div class="cell">
                    <div class="left">
                    Size
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="/search/articles/{{ group.key }}/?{{ request|query(sort='size asc') }}">&#x21D1;</a></li>
                            <li><a href="/search/articles/{{ group.key }}/?{{ request|query(sort='size desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="left">
                    Title
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='subject asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='subject desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="left">
                    Post Age
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='date asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='date desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-row centered">
                <div class="cell"> </div>
                <div class="cell">
                    {{ today|date }}
                </div>
                <div class="cell"> </div>
            </div>
            {% for res in results %}
            <div class="table-row">
                <div class="cell">
                    ({{ res.bytes_|human_size }})
                </div>
                <div class="cell">
                    <div>
                        <a href="{{ 'article_view'|url(res.key) }}">{{ res.subject }}</a>
                    </div>
                    <div>
                    {% for g in res.newsgroups %}
                        <a href="{{ 'article_search'|url(g) }}">{{ g }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div class="cell">
                    {{ res.date|age('days')}}&nbsp;days
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">

    </div>
    <div class="span7">
        {% include "includes/pager.html" %}
    </div>
</div>
{% endblock %}
