    <div class="pynzb-pager">    
        <div class="pagination pagination-right pagination-small">
            <ul>
                {% for pp in [25, 50, 100] %}
                <li><a href="?{{ request|query(pp=pp) }}" title="{{ pp }} per page">{{ pp }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="pagination pagination-right pagination-small">
            <ul>
                <li><a href="?{{ request|query(p=1) }}">first</a></li>
                {% if pager.prev_page %} 
                <li><a href="?{{ request|query(p=pager.prev_page) }}">prev</a></li>
                {% else %}
                <li class="disabled"><a href="#">prev</a></li>
                {% endif %}

            {% if pager.pages %}
                {% for p, o in pager.pages %}
                    <li class="{% if p == pager.current_page %}active{% endif %}"><a href="?{{ request|query(p=p) }}">{{ p }}</a></li>
                {% endfor %}

                {% if pager.last_page > pager.pages|last %}
                    <li class="disabled"><a href="#">...</a></li>
                    <li><a href="?{{ request|query(p=pager.last_page) }}">{{ pager.last_page }}</a></li>
                {% endif %}
            {% endif %}
           
            {% if pager.next_page %} 
                <li><a href="?{{ request|query(p=pager.next_page) }}">next</a></li>
            {% else %}
                <li class="disabled"><a href="#">next</a></li>
            {% endif %}

                <li><a href="?{{ request|query(p=pager.last_page) }}">last</a></li>
            </ul>
        </div>
    </div>

