{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="group_info span6">
        <h5>{{ group.key }} index completion ({{ stats.total }}): </h5>
        <div class="progress progress-striped">
          <div class="bar bar-success" style="width: {{ stats.indexed_pct }}%;">{{ stats.indexed }}</div>
          <div class="bar bar-warning" style="width: {{ stats.remaining_pct }}%;">{{ stats.remaining }}</div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h4>Displaying {{ pager.current_offset }} to {{ pager.next_offset or pager.total }} of {{ pager.total }} {{ doctype }}s</h4>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">

    </div>
    <div class="span7">
        {% include "includes/pager.html" %}
    </div>
</div>

<form action="" method="POST">
<div class="row-fluid">
    <div class="span12">
        <div class="results table">
            <div class="table-row row-header">
                <div class="cell">
                    <input type="checkbox" value="1" id="check-all"/>
                </div>
                <div class="cell">
                    <div class="left">
                    Size
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='size asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='size desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="left">
                    Title
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='subject asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='subject desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell">
                    <div class="left">
                    {{ doctype|capitalize }} Age
                    </div>
                    <div class="right">
                        <ul class="sort unstyled">
                            <li><a href="?{{ request|query(sort='date asc') }}">&#x21D1;</a></li>
                            <li><a href="?{{ request|query(sort='date desc') }}">&#x21D3;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-row centered">
                <div class="cell"> </div>
                <div class="cell">
                </div>
                <div class="cell">
                    {% if doctype == 'file' %}
                        <button name="a" value="nzb">create nzb</button>
                        <button name="a" value="del">delete files</button>
                    {% elif doctype == 'report' %}
                        <button name="a" value="del">delete reports</button>
                    {% endif %}
                    {{ today|date }}
                </div>
                <div class="cell"> </div>
            </div>
            {% for res in results %}
            <div class="table-row">
                <div class="cell">
                    {% if doctype in ['file', 'report'] %}
                        <input name="f" type="checkbox" value="{{ res.id }}"/>
                    {% endif %} 
                </div>
                <div class="cell">
                    ({{ res.bytes_|humansize }})
                </div>
                <div class="cell">
                    <div>
                        {% if doctype == 'article' %}
                        <a href="{{ 'article_view'|url(res.key) }}">{{ res.subject }}</a>
                        {% elif doctype == 'file' %}
                        <a href="{{ 'file_view'|url(res.key) }}">{{ res.subject }}</a>
                        {% elif doctype == 'report' %}
                        <a href="{{ 'report_view'|url(res.key) }}">{{ res.subject }}</a>
                        {% endif %}
                    </div>
                    <div>
                    {% for g in res.newsgroups %}
                        <a href="{{ 'search_group'|url(doctype, g) }}">{{ g }}</a>
                    {% endfor %}
                    </div>
                    <div>
                    {% if doctype == 'article' %}

                    {% elif doctype == 'file' %}
                        {% if not res.complete %}
                        <span class="label label-important">This File is Incomplete</span>
                        {% endif %}
                    {% elif doctype == 'report' %}
                        {% if not res.complete %}
                        <span class="label label-info">This Report is not Verified</span>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
                <div class="cell">
                    {{ res.date|age('days')}}&nbsp;days
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</form>

<div class="row-fluid">
    <div class="span5">

    </div>
    <div class="span7">
        {% include "includes/pager.html" %}
    </div>
</div>
{% endblock %}
